.vscode/**
.vscode-test/**
out/test/**
src/**
.github
.gitignore
.prettierrc.yaml
tsconfig.json
vsc-extension-quickstart.md
build
node_modules
test-workspace
release_notes
img
out/extension.js.map
scripts/**
