:root {
	--container-paddding: 20px;
	--input-padding-vertical: 6px;
	--input-padding-horizontal: 4px;
	--input-margin-vertical: 4px;
	--input-margin-horizontal: 0;
}

html, body {
	height: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
}

ol,
ul {
	padding-left: var(--container-paddding);
}

body > *,
form > * {
	margin-block-start: var(--input-margin-vertical);
	margin-block-end: var(--input-margin-vertical);
}

*:focus {
	outline-color: var(--vscode-focusBorder) !important;
}

a {
	color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
	color: var(--vscode-textLink-activeForeground);
}

code {
	font-size: var(--vscode-editor-font-size);
	font-family: var(--vscode-editor-font-family);
}
iframe {
	width: 100%;
	height: 100%;
	border: none;
	background: white; /* Browsers default to a white background */
}

.controls {
	display:block;
	width:100%;
	height:2em;
	margin-top:0;
	background: var(--vscode-editor-background);
}

.controls button i {
	display: flex;
	margin-right: 0.3em;

}

.displayContents {
	position:fixed;
    display: table; 
    width: 100%;
    height: 100%;
}

.displayContents > div {   
    display: table-row;   
    width: 100%;
}

.headercontent {
    display: table-cell;   
	text-align:right;
	width:100%;
	height:2em;
}
.header nav {
	display:flex;
}

.header nav button {
	border: none;
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	text-align: center;
	outline: 1px solid transparent;
	outline-offset: 2px !important;
	color: var(--vscode-icon-foreground);
	background: none;
	width:25%;
	display:inline-block;
}

.header nav button:hover:not(:disabled) {
	cursor: pointer;
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-hoverBackground);
}

.header nav button:disabled {
	opacity: 0.5;
	background: var(--vscode-button-background);
}

.header nav button:focus {
	outline-color: var(--vscode-focusBorder);
}
.content iframe {
    display: table-cell;   
	width: 100%;
	height: 100%;
	background: white; /* Browsers default to a white background */
}